# https://docs.github.com/en/github/using-git/configuring-git-to-handle-line-endings
# https://git-scm.com/docs/gitattributes
# https://git-scm.com/docs/git-config 
# https://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/ 

# Configure this repository to use Git's type detection algorithm to guess 
# whether a file is text or binary. Text files will have line endings converted 
# as if you had set 
#   eol=native
# That is, on Windows text files will have CRLF line endings in your working
# directory while on Linux and macOS your text files will have LF line endings
# in your working directory. In either case, they will have LF line endings in
# the Git repository itself.

* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout. Git would likely get these right, but
# we can be sure by adding them here.
*.c text
*.cpp text
*.h text
*.md text
*.yaml text
*.yml text

# Denote all files that are truly binary and should not be modified.
# Even if we don't have any of these, they make a good example.
*.png binary
*.jpg binary
